
@{
    ViewData["Title"] = "AccessDenied";
}

<div class="container">
    <div class="h3">You are unauthorized to view this page!</div>
    <div>You may <a asp-controller="Home" asp-action="Logout">log in as someone else</a>?</div>
</div>

